RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d



RedirectMatch 301 /install /Install
RedirectMatch 301 /update /Update
RewriteRule api/(.*)$ /api.php?request=$1 [QSA,NC,L]