Options -Indexes
Options +FollowSymLinks
ServerSignature Off
RewriteEngine On
<IfModule mod_ssl.c>
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
</IfModule>
AddDefaultCharset utf-8
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(account)(?:/([^/]+)(?:/([^/]+))?(?:/([^/]+))?)?/?$ /pager.php?category=$1&subcategory=$2&lastcategory=$3&datatype=$4 [L,NC,QSA]


RedirectMatch 301 /install /Install
RedirectMatch 301 /update /Update
RewriteRule api/(.*)$ /api.php?request=$1 [QSA,NC,L]